<footer id="credits-footer"'<% if css %> class="<%= css %>" <% end %>>
<%== I7::Template[:_nav].render(page: page, level: level) %>
<div class="footing"><p id="i7credit"><a href="http://inform7.com">Inform 7</a> and its documentation are &copy; 2006-<span id="current_year">2022</span> by Graham Nelson and published under the <a href="<%= ((['..']*level)+['license.html']).join('/') %>">Artistic License 2.0</a>.</p>

<% if page == :example %>
<p>Thanks go to <a href="http://nitku.net/blog/">Juhana Leinonen</a> for <a href="https://borogove.app">Borogove</a>. The playable examples use <a href="https://eblong.com">Andrew Plotkin</a>'s <a href="https://eblong.com/zarf/glk/glkote.html">GlkOte</a> and <a href="https://eblong.com/zarf/glulx/quixe/index.html">Quixe</a>, distributed under an <a href="<%= ((['..']*level)+['mit.html']).join('/') %>">MIT License.</a></p>
<% end %>
<p class="about">
<% unless page == :about %>
<a class="raw" href="<%= ((['..']*level)+['about.html']).join('/') %>">About this edition</a>&ensp;&bull;&ensp;
<% end %>
<a class="raw" href="https://mastodon.gamedev.place/web/@inform7tips">@inform7tips@mastodon.gamedev.place</a></p></div>
</footer>
